.animalcardbody{
  margin:0px;
  width: 340px;


}

.animalcard{
border:1px;
border-color:#f2f2f2;
border-style:solid;
box-shadow: 10px 10px 0px -2px rgba(242,242,242,1);
padding:10px;
margin:10px;



}
.animalname{
padding:10px;
margin:0px;
padding-left:0px;



}

.interestingfacts{

font-style:italic;
}

.titlefactslist{

list-style-type:none;

padding-left:0px;


}


.titlefact{

font-weight:bold;
}


.animalpicture{
width:300px;
height:200px;
padding:10px;
padding-left:0px;

margin:0px;




}
.animalinformation{
border:1px;
border-color:#f2f2f2;
border-style:solid;
padding:10px;
width:300px;
box-sizing:border-box;
}
