.animal-card-body {
  margin: 0;
  width: 340px;
}
.animal-card {
border: 1px;
border-color: #e6e6e6;
border-style: solid;
box-shadow: 10px 10px 0px -2px rgba(242,242,242,1);
padding: 10px;
margin: 10px;
}
.animal-name {
padding: 10px;
margin: 0;
padding-left: 0;
}
.interesting-facts {
font-style: italic;
}
.title-facts-list {
list-style-type: none;
padding-left: 0;
}
.title-fact {
font-weight: bold;
}
.animal-picture {
width: 300px;
height: 200px;
padding: 10px;
padding-left: 0;
margin: 0;
}
.animal-information {
border: 1px;
border-color: #e6e6e6;
border-style: solid;
padding: 10px;
width: 300px;
box-sizing: border-box;
}
